page-fukidashi {
  $triangle-size:18px;

  $face-icon-size:40px;
  $side-margin:10px;

  .remark{
    text-align: left;
    $base-color:#edf1ee;
    width: 100%;
    margin: 10px 0; /* 上下 | 左右 */
    //overflow: hidden;
    // background-color: red;
    position: relative;
    .faceicon{
      img, .icon{
        position: absolute;
      }
    }
    .message{
      display: inline-block;
      position: relative;
      padding: 10px;
      max-width: 70%;
      border-radius: 6px;
      &::after{
        content: "";
        display: inline-block;
        position: absolute;
        border: 8px solid transparent;
        // -ms-transform: rotate(35deg);
        // -webkit-transform: rotate(35deg);
        // transform: rotate(35deg);
      }
    }

  }

  .yourremark{
    @extend .remark;
    text-align: left;
    $base-color:#edf1ee;
    .faceicon{
      img, .icon{
        left: $side-margin;
        top: $side-margin;
      }
    }
    .message{
      margin-left: ($side-margin + $face-icon-size); /* 上 | 右 | 下 | 左 */
      background: $base-color;
      &::after{
        top: 3px;
        left: -($triangle-size +1);
        border-right: $triangle-size solid $base-color;
      }
    }
  }
  .myremark{
    @extend .remark;
    $base-color:#30e8c9;
    text-align: right;
    //background-color: blue;
    .faceicon{
      img, .icon{
        right: $side-margin;
        bottom: $side-margin;
      }
    }
    .message{
      margin-right: ($side-margin + $face-icon-size);
      background: $base-color;
      &::after{
        right: -($triangle-size +1);
        bottom: 3px;
        border-left: $triangle-size solid $base-color;
      }
    }
  }
}
