page-fukidashi {


@mixin remarks($align: left,$base-color:#edf1ee,$border-color:darkgray){
    $triangle-size:8px;
    $triangle-offset:5px;
    $face-icon-size:40px;
    $side-margin:10px;
    $border-width:2px;

    $vAlign: if($align == left, top,bottom);  // 縦方向align
    $opoAlign:if($align == left, right,left);     // 逆

    text-align: $align;

    width: 100%;
    margin: 10px 0; /* 上下 | 左右 */
    //overflow: hidden;
    // background-color: red;
    position: relative;
    .faceicon{
      img, .icon{
        position: absolute;
        #{$align}: $side-margin;
        #{$vAlign}: $side-margin;
      }
    }
    .message{
      display: inline-block;
      position: relative;
      padding: 10px;
      max-width: 70%;
      border-radius: 6px;
      margin-#{$align}: ($side-margin + $face-icon-size); /* 上 | 右 | 下 | 左 */
      background: $base-color;

      border: $border-width solid $border-color;
      $triangle-border: $border-width * 1.4;
      &::after{
        content: "";
        display: inline-block;
        position: absolute;
        border: $triangle-size solid transparent;
        #{$vAlign}: $triangle-offset;
        #{$align}: -($triangle-size*2 );
        border-#{$opoAlign}: $triangle-size solid $base-color;
      }
      &::before{
        content: "";
        display: inline-block;
        position: absolute;
        border: $triangle-size + $triangle-border solid transparent;
        #{$vAlign}: $triangle-offset - $triangle-border;
        #{$align}: -($triangle-size*2 + ($triangle-border*2));
        border-#{$opoAlign}: $triangle-size+$triangle-border solid $border-color;
      }

    }

  }


  .yourremark{
    @include remarks(left,white,#edf1ee)
  }

  .myremark{
    @include remarks(right,white,#30e8c9)
  }

  // .myremark{
  //   @extend .remark;
  //   $base-color:#30e8c9;
  //   text-align: right;
  //   //background-color: blue;
  //   .faceicon{
  //     img, .icon{
  //       right: $side-margin;
  //       bottom: $side-margin;
  //     }
  //   }
  //   .message{
  //     margin-right: ($side-margin + $face-icon-size);
  //     background: $base-color;
  //     &::after{
  //       right: -($triangle-size +1);
  //       bottom: 3px;
  //       border-left: $triangle-size solid $base-color;
  //     }
  //   }
  // }
}
